/** **************************************
* Fonts: app
*************************************** */
@import '@fontsource-variable/dm-sans';

@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';

/* chart */
@import './components/chart/styles.css';

/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
.MuiPaper-root  .react-calendar {
  border: none; 
}

.MuiBox-root .css-fgxg7v .css-spzshw-MuiPaper-root{
  padding: 0px !important;
}

.react-calendar .tile--active {
  background: #e0ac3d !important;
  color: white;
}

.react-calendar__tile--active {
  background: #e0ac3d !important; 
  color: white;
}


.css-14wtga2{
  padding: 3px 20px !important;
}

.css-1f7k4l1{
  background-color: white !important;
}

.css-9ybyj3{
  box-shadow: none !important;
}
.css-spzshw-MuiPaper-root{
  box-shadow: none !important;
}
.css-1bjrhbu{
  box-shadow: none !important ;
}
.css-wab9x8{
  box-shadow: none !important;
}
.css-1wsxf5o{
  box-shadow: none !important;
}
.css-1b1qffs{
  box-shadow: none !important;
}

.css-9pbd4j{
  box-shadow: none !important;
}
.css-1wsxf5o{
  box-shadow: none !important;
}
.css-x3w0k9{
  box-shadow: none !important;
}